@import "tailwindcss";

:root {
    --background: 255 255 255;   /* rgb */
    --foreground: 24 24 27;      /* zinc-900 benzeri */
    --border: 228 228 231;       /* zinc-200 */
}

.bg-background { background-color: rgb(var(--background)); }
.text-foreground { color: rgb(var(--foreground)); }
.border-border { border-color: rgb(var(--border)); }